<div class="container">
    <form>
        <mat-radio-group class="radioGroup">
            <mat-radio-button class="radio1" value="1">Oui</mat-radio-button>
            <mat-radio-button class="radio2" value="2">Non</mat-radio-button>
        </mat-radio-group>
        <mat-form-field appearance="outline" class="Nom">
            <input matInput placeholder="Nom">
        </mat-form-field>
        <mat-form-field appearance="outline" class="Prénom">
            <input matInput placeholder="Prénom">
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="Nombre">
            <input matInput placeholder="Nombre de personnes">
        </mat-form-field>
        <button mat-raised-button class="answer"  
            color="primary">Répondre</button>
    </form>
</div>
