<!DOCTYPE HTML>
<html>

<head>
	<title>Mariage de Déborah et Mathieu</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="app.component.css" />
</head>

<body class="is-preload">

	<!-- Header -->
	<div id="header">

		<div class="top">
			<!-- Logo -->
			<div id="logo">
				<span id="title">Déborah <small>&</small> Mathieu</span>
				<h6>21.09.2024</h6>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li><a href="#lieu" id="top-link">Lieu</a></li>
					<li><a href="#hebergement" id="portfolio-link">Hébergements</a></li>
					<li><a href="#programme" id="about-link">Programme</a></li>
				</ul>
			</nav>

		</div>
		<div class="bottom">
			<span class="separator"></span>
			<!-- Social Icons -->
			<p>Mariage de Déborah & Mathieu <br>21 Septembre 2024, Lestiac sur Garonne</p>

		</div>

	</div>

	<!-- Main -->
	<div id="main">

		<!-- Intro -->
		<section id="top" class="one dark cover">
			<div class="container">

				<header>
					<h1 class="title animate-box fadeInUp animated" data-animate-effect="fadeInUp">Déborah
						<small>&</small> Mathieu
					</h1>
					<h5 class="animate-box fadeInUp animated" data-animate-effect="fadeInUp">21 SEPTEMBRE 2024 - LESTIAC
						SUR GARONNE</h5>
				</header>

			</div>
		</section>

		<!-- Portfolio -->
		<section id="lieu" class="two">
			<div class="container">

				<header>
					<h2>Lieu</h2>
				</header>

				<p>Retrouvez nous le 21 septembre 2024 à 16h, à la mairie de Lestiac-sur-Garonne.</p>
				<div class="iframe">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2836.2581764309225!2d-0.3769185234023906!3d44.69392768450123!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5515fd03756c25%3A0x94616a773c137af1!2sMairie%20de%20Lestiac-sur-Garonne!5e0!3m2!1sfr!2sfr!4v1711966788026!5m2!1sfr!2sfr"
						width="1920" height="700" style="border:0;" allowfullscreen="" loading="lazy"
						referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
			</div>
		</section>

		<!-- About Me -->
		<section id="hebergement" class="three">
			<div class="container">

				<header>
					<h2>Hébergements</h2>
				</header>

				<p>Pour faciliter votre séjour, nous avons soigneusement sélectionné
					une liste d'hébergements à proximité du lieu de la cérémonie.
					Voici quelques options où vous pouvez réserver votre séjour :</p>
				<br>
				<table border="1">
					<tr>
						<th>Prestataire/Hôtel</th>
						<th>Site internet</th>
						<th>Référence Internet</th>
						<th>Coordonnées</th>
						<th>Distance depuis Lestiac</th>
						<th>Capacité</th>
						<th>Tarif</th>
						<th>Prix par personne</th>
					</tr>
					<tr>
						<td>Le 249 - Marine RAYNAUD </td>
						<td><a href="https://249roberiesud.fr/">249roberiesud.fr</a> <br>Contact mail sur site</td>
						<td>Ref : 4911</td>
						<td>2 Avenue de Dupouy - 33360 Cénac</td>
						<td>20 mins</td>
						<td>15 couchages</td>
						<td>1500€ / nuit</td>
						<td>100€</td>
					</tr>
					<tr>
						<td>Les Batarelles</td>
						<td><a href="https://www.grandsgites.com/">Grandsgites.com</a><br>Contact mail sur site</td>
						<td>Ref : 3921</td>
						<td>9 Route Deyma - 33550 Villenave de Rions</td>
						<td>6 mins <br>3.6 kms</td>
						<td>16 couchages</td>
						<td>580€ / nuit en semaine<br>1560€ le weekend</td>
						<td>58€ inclus sauf vaisselle et poubelles à faire</td>
					</tr>
					<tr>
						<td>Château Solon <br>Marie de SAINT DENIS</td>
						<td><a href="https://www.grandsgites.com/">Grandsgites.com</a><br><a
								href="http://www.chateausolon.fr">chateausolon.fr</a><br>Contact mail sur site</td>
						<td>Ref : 353</td>
						<td>RD 1113 - 33210 Preignac</td>
						<td>18 mins</td>
						<td>15 couchages</td>
						<td>2 nuits: 1400€<br>70€/p/n inclus</td>
						<td>+ location de Hebergements week-end 21 septembre 2024</td>
					</tr>
					<tr>
						<td>Gîtes La Carreyre<br>Pascal CABROL</td>
						<td><a href="https://www.grandsgites.com/">Grandsgites.com</a><br>Contact mail sur
							site<br>minimum 2 nuits</td>
						<td>Ref : 3214</td>
						<td>3 route des bords de Garonne - 33490 StPierre-d'Aurillac</td>
						<td>30 mins<br>23
							kms </td>
						<td>Sur la base de 30 personnes toutes charges comprises: 36,60€ / 2 nuits</td>
						<td>2 nuits: 1100€<br>36,60€ / 2 nuits / 200€ en option</td>
						<td></td>
					</tr>
					<tr>
						<td>Les Chalets du Gélat<br>Virginie et Alain LAFEUILLADE</td>
						<td><a href="https://www.grandsgites.com/">Grandsgites.com</a><br><a
								href="http://www.leschaletsdugelat.fr">leschaletsdugelat.fr</a><br>Contact mail sur site
						</td>
						<td>Ref : 5858</td>
						<td>25 route d'Antonion - 33730 Noaillan</td>
						<td>35 mins <br>29 kms</td>
						<td>38 couchages prix au chalet suivant saison</td>
						<td></td>
					</tr>
					<tr>
						<td>Gite de la Bastane</td>
						<td><a href="https://www.destinationgaronne.com/">Destinationgaronne.com</a></td>
						<td></td>
						<td>L’espinglet 33410 Rions</td>
						<td>6 mins </td>
						<td>max 12 personnes</td>
						<td>Nuitée</td>
						<td>Linge de lit et de toilette en option à 100€<br>ménage obligatoire 100€</td>
					</tr>
					<tr>
						<td>Les logis de lestiac</td>
						<td><a href="https://www.destinationgaronne.com/">Destinationgaronne.com</a></td>
						<td></td>
						<td>71 Route de Bordeaux 33550 Lestiac sur Garonne</td>
						<td>0 km <br>max 10 personnes</td>
						<td>Tarif à la chambre</td>
						<td><a href="http://leslogisdelestiac.fr/">Leslogisdelestiac.fr</a> minimun 2 nuits</td>
						<td></td>
					</tr>
					<tr>
						<td>La chambre d'hôtes du Parc</td>
						<td><a href="http://www.chambresdhotesduparc.com">Chambresdhotesduparc</a></td>
						<td></td>
						<td>1 rue du Maréchal Leclerc 33720 PODENSAC</td>
						<td>8 kms <br> max 14 personnes</td>
						<td></td>
						<td>à partir de 78 euros/nuit</td>
						<td></td>
					</tr>
					<tr>
						<td>Les Vignes Reines</td>
						<td><a href="http://www.lesvignesreines.com">Lesvignesreines.com</a></td>
						<td></td>
						<td>1 Mouréou 33720 ILLATS</td>
						<td>15 kms <br> max 10 personnes</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Camping Bel Air</td>
						<td><a href="https://camping-belair.com/">Camping-belair.com</a></td>
						<td></td>
						<td>150, route départementale 671 33670 Sadirac</td>
						<td>15 kms</td>
						<td>Location Mobile homes</td>
						<td>170€ à 890€/jour</td>
						<td></td>
					</tr>
					<tr>
						<td>Hôtel RAPIN (1*)</td>
						<td><a href="https://hotelrapin.fr/">hotelrapin.fr</a></td>
						<td></td>
						<td>35 routes des graves RN.113 33640 Portets</td>
						<td>6 kms</td>
						<td>10 chambres</td>
						<td>Tarif sur site à partir de 67€<br>(1,2, ou 3 personnes)</td>
						<td></td>
					</tr>
					<tr>
						<td>Hôtel Restaurant Le Voyageur</td>
						<td><a href="https://www.levoyageur-cadillac.fr/">levoyageur-cadillac.fr</a></td>
						<td></td>
						<td>22 Av. du Pont, 33410 Cadillac-sur-Garonne</td>
						<td>10 kms</td>
						<td>5 chambres simples(2p)-3 chambres doubles(4p)</td>
						<td>Tarif sur site à partir de 50€</td>
						<td></td>
					</tr>
					<tr>
						<td>Hôtel de la gare</td>
						<td><a href="https://hotel-lagare.fr/">hotel-lagare.fr</a></td>
						<td></td>
						<td>11 avenue de la libération 33360 Latresne</td>
						<td>17 kms</td>
						<td>8 chambres</td>
						<td>Tarif sur site tarif été</td>
						<td>Minimum 75€</td>
					</tr>
					<tr>
						<td>Château de la tour (3*)</td>
						<td><a
								href="https://www.hotel-restaurantchateaudelatour.com/fr/">hotel-restaurantchateaudelatour.com</a>
						</td>
						<td></td>
						<td>2 avenue de la Libération 33410 Béguey</td>
						<td>8 kms</td>
						<td></td>
						<td>Tarif sur site tarif été</td>
						<td>Minimum 75€</td>
					</tr>
					<tr>
						<td>ibis style Bordeaux Sud Villenave-d'Ornon</td>
						<td><a href="https://all.accor.com/hotel/1996/index.fr.shtml">accor.com</a></td>
						<td></td>
						<td>10 avenue du Maréchal Leclerc 33140 Villenave d'Ornon</td>
						<td>30 mns environ</td>
						<td></td>
						<td>Tarif sur site environ à partir de 85€</td>
						<td></td>
					</tr>
					<tr>
						<td>ibis budget Bordeaux Sud Villenave-d'Ornon</td>
						<td><a href="https://all.accor.com/hotel/6675/index.fr.shtml">accor.com</a></td>
						<td></td>
						<td>Centre d'Ornon, Chemin de Sarcignan 33140 Villenave d'Ornon</td>
						<td>35 mns environ</td>
						<td></td>
						<td>Tarif sur site environ à partir de 55€</td>
						<td></td>
					</tr>
					<tr>
						<td>ibis style Bordeaux Bègles (3*)</td>
						<td><a href="https://all.accor.com/hotel/B9L1/index.fr.shtml">accor.com</a></td>
						<td></td>
						<td>3 Rue Marcel Sembat, 33130 Bègles</td>
						<td>28 mns</td>
						<td></td>
						<td>Tarif sur site environ à partir de 80€</td>
						<td></td>
					</tr>
					<tr>
						<td>hotel formule 1 Villenave d'Ornon</td>
						<td><a href="https://all.accor.com/hotel/2472/index.fr.shtml">accor.com</a></td>
						<td></td>
						<td>2 rue Salvador Dali 33140 Villenave d'Ornon</td>
						<td>35 mns environ</td>
						<td></td>
						<td>Tarif sur site environ à partir de 40€</td>
						<td></td>
					</tr>
				</table>
			</div>
			<br>
			Vous pouvez télécharger nos propositions d'hébergement ici : 
			<br>
			<div class="link">
				<a href="../assets/pdf/Liste gites pour 21 septembre.pdf" title="Liste des gîtes">Liste des gîtes</a>
				<br>
				<a href="../assets/pdf/Liste hôtels pour 21 septembre.pdf" title="Liste des hôtels">Liste des hôtels</a>
			</div>
			<br>
			Vous trouverez aussi des logements disponibles sur AirBnb :
			<br>
			<div class="link">
				<a href="https://www.airbnb.fr/s/Lestiac~sur~Garonne--France/homes?tab_id=home_tab&refinement_paths%5B%5D=%2Fhomes&flexible_trip_lengths%5B%5D=one_week&monthly_start_date=2024-05-01&monthly_length=3&monthly_end_date=2024-08-01&price_filter_input_type=0&channel=EXPLORE&date_picker_type=calendar&checkin=2024-09-21&checkout=2024-09-22&source=structured_search_input_header&search_type=autocomplete_click&price_filter_num_nights=1&zoom_level=10&query=Lestiac-sur-Garonne%2C%20France&place_id=ChIJk4AgOgAWVQ0RVaysqIlYfPM" title="AirBnb">AirBnb</a>
			</div>
		</section>

		<!-- Contact -->
		<section id="programme" class="four">
			<div class="container">

				<header>
					<h2>Programme</h2>
				</header>

				<p>
					<strong>Date :</strong> 21 septembre 2024
				</p>
				<p>
					<strong>Lieu :</strong> Mairie de Lestiac-sur-Garonne
				</p>

				<h3>16h00 : Cérémonie à la mairie</h3>
				<p>La journée commence par la cérémonie civile à la mairie de Lestiac-sur-Garonne.</p>

				<h3>17h00 : Vin d'honneur au château de Langoiran</h3>
				<p>Après la cérémonie, rejoignez-nous au château de Langoiran pour un vin d'honneur décontracté.
					Profitez de l'occasion pour trinquer et partager des moments de convivialité.</p>

				<h3>19h30 : Dîner à l'Auberge André</h3>
				<p>La soirée se poursuit à l'Auberge André avec un délicieux dîner. Installez-vous confortablement et
					savourez un repas exquis en compagnie des mariés et de leurs invités.</p>

				<h3>00h20 : La fête</h3>
				<p>Après le dîner, la piste de danse s'ouvre à tous ! Laissez-vous emporter par la musique et dansez
					jusqu'au bout de la nuit. </p>
				<p>Nous avons hâte de partager cette journée magique avec vous et de créer des souvenirs inoubliables
					ensemble !</p>

			</div>
		</section>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>